body {
  font-family: "Open Sans", sans-serif;
  padding: 100px;
  background: linear-gradient(to bottom, lightblue, white);
 
}
h1 {
  font-size: 40;
  font-weight: bold;
  text-align: center;
}
h2 {
  font-size: 15;
  text-align: center;
}
h3 {
  font-size: 25;
  text-align: left;
  font-style: italic
}
